h1 {
    color:blue;
   
   }
   img { width: 400px;

   }
   #thirdDiv {
     background-color: aqua;
     width:500px;
     height: 600px;
     padding: 50px;
     border: 5px solid goldenrod;
   }
   #spanId {
    font-size: 18px;
    margin: 50px;
   }
